@charset "utf-8";
/* CSS Document */

body{
	margin: 0;
	font-family: Trebuchet MS;
}
.nav_header{
	background: #FF0000;
	color: white;
	padding: 10px;
	text-align: center;
}
.nav_header .nav_tel{
	float: left;
}
.nav_header a{
	text-decoration: none;
	color: white;
}
.op_nav_top{
	padding: 10px;
}
.op_nav_top:hover{
	padding: 10px;
	background: #990000;
}

.nav_header_bottom{
	background: #FF0000;
	padding: 10px;
	text-align: center;
}

.op_nav_bottom{
	color: white;
	padding: 10px;
	text-decoration: none;
}
.op_nav_bottom:hover{
	background: #990000;
	padding: 10px;
}
